
body {
    margin: 0;
    padding: 10px;
    font-family: monospace;
  }

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
}
   
#beer-collection {
    justify-content: center;
    margin: 2rem;
}

.beer-card {
    justify-self: center;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
}
  
.beer-image {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.search-bar {
    justify-self: center;
    text-align: center;
}

.login-signup {
    float: right;
    display: block;
}

.sign-in {
    float: right;
    display: none;
}

.logo {
    height: 7rem;
  padding: 1rem;
}