
body {
    margin: 0;
    padding: 10px;
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 6rem;
  }

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
}
   
#beer-collection {
    margin: 2rem;
    display: inline-block;
    text-align: center;
    justify-self: center;
}

.beer-card {
    justify-self: center;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
}
  
.beer-image {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.search-bar {
    justify-self: center;
    text-align: center;
}

.login-signup {
    float: right;
    display: block;
}

.sign-in {
    float: right;
    display: none;
}

.sign-up {
    float: right;
    display: none;
}

.logo {
    height: 7rem;
  padding: 1rem;
}

.beer-render-div {
    flex-basis: 50%;
    flex-grow: 1;
    border: grey solid 1px;
    padding: 1rem;
    width: 70%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.beer-image-single-render {
    height: 15rem;
    width: auto;
    display: block;
    float: left;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#welcome {
    float: right;
    display: none;
}

#logout-btn {
    float: right;
    display: none;
}